:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --background-color: #dde1e7;
  --background-form: #064469;
  --background-menu: #5790ab;
  --background-card: #82b0c5f5;

  --primary-fontColor: #0c0c0c;

  --primary-color: #1b2021;
  --secundary-color: #416975;
  --tertiary-color: #262734;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--secundary-color);
}

body {
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #052235;
    --background-form: #92b5be;
    --background-menu: #5790ab;
    --background-card: #b3d6df;

    --primary-fontColor: #ffffff;

    --primary-color: #aed8e3;
    --secundary-color: #69c7e1;
  }

  a {
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: inherit;
  }
  a:hover {
    color: var(--secundary-color);
  }
}
